
<section class='flex w-full h-full'>
  <div class='flex justify-start items-center w-full h-full overflow-hidden bg-cover bg-center mx-3.5'>
    <div class='detail-box text-white lg:mx-28 md:10 sm:5'>
      <h1 class='main-heading'>
       Empowering Industries with Seamless <br>
       Event Management <br>
      </h1>
      <p class="sub-heading font-bold text-[#100d2b]">
       Your Success, Our Expertise.
      </p>
      <div class='btn-box right-nav m-4'>
        <a href='/events' class='btn1 bg-blue-500 text-white py-2 px-4 rounded-full'>
          Go to Events
        </a>
      </div>
    </div>
  </div>
</section>
