<div class='flex justify-center items-center w-full h-full'>
  <div class='card rounded overflow-hidden shadow-lg'>
    <h1>New event</h1>

    <%= render 'form', event: @event, id: 'create_form' %>
  </div>
</div>
